In [ ]:
import pandas as pd

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    frames = [df1, df2]
    return pd.concat(frames)

df1 = pd.DataFrame(
    {
        "student_id": [1, 2, 3, 4],
        "name": ["mason", "ava", "taylor", "george"],
        "age": [0, 1, 2, 3],
    })

df2 = pd.DataFrame(
    {
        "student_id": [5, 6],
        "name": ["leo", "alex"],
        "age": [2, 3],
    })

print(concatenateTables(df1, df2))

TypeError: concat() takes 1 positional argument but 2 were given